@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 10px / 16px = 62.5% => 1rem = 10px */
}

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.6;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 1.8rem;
}

header {
  background: #1c2431;
  color: white;
  font-family: "Raleway", sans-serif;
}

header .nav {
  max-width: 144rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 3rem;
}

header .nav .nav__logo {
  max-width: 10rem;
}

header .nav .nav__list {
  max-width: 170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  background: #1c2431;
  color: white;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url(../img/bg-curvy-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 12rem 2rem;
    background-image: url(../img/bg-curvy-desktop.svg);
  }
}

.intro .intro__img {
  max-width: 75rem;
  width: 90%;
}

.intro .intro__text {
  max-width: 65rem;
  padding: 2rem 0;
}

.intro .intro__text h1 {
  font-size: 2.6rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .intro .intro__text h1 {
    font-size: 2.8rem;
  }
}

.intro .intro__text p {
  font-size: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem 4rem 1rem;
}

.intro .intro__text .intro__btn {
  padding: 1.5rem 8rem;
  border-radius: 2.5rem;
  border: #65e2d9;
  background: -webkit-gradient(linear, right top, left bottom, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to bottom left, #339ecc, #65e2d9);
  color: white;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.intro .intro__text .intro__btn:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.intro .intro__text .intro__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.features {
  background: #181f2a;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features .features__container {
    max-width: 80rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
  }
}

.features .features__item {
  max-width: 36rem;
  padding: 5rem 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .features .features__item {
    padding: 5rem 0;
  }
}

.features .features__item .features__img {
  max-width: 8rem;
  max-height: 10rem;
  width: 100%;
  padding-bottom: 2rem;
}

.features .features__item img {
  width: auto;
  height: 100%;
}

.features .features__item h2 {
  padding-bottom: 1rem;
}

.motivation {
  background: #181f2a;
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .motivation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.motivation .motivation__img {
  max-width: 34rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .motivation .motivation__img {
    max-width: 75rem;
  }
}

.motivation .motivation__text {
  max-width: 65rem;
  padding: 2rem;
}

.motivation .motivation__text p {
  padding: 1.5rem 0;
}

.motivation .motivation__text .motivation__text-arrow {
  color: #65e2d9;
  padding-bottom: 1rem;
  border-bottom: 1px solid #65e2d9;
}

.motivation .motivation__text .motivation__text-arrow img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.testimonials {
  background: #181f2a;
  padding: 14rem 0;
}

.testimonials .testimonials__container {
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .testimonials .testimonials__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 124rem;
  }
}

.testimonials .testimonials__quotes {
  position: absolute;
  top: -2rem;
  left: 1.5rem;
}

.testimonials .testimonials__item {
  max-width: 35rem;
  background: #202a3c;
  border-radius: .5rem;
  margin: 1.3rem;
  position: relative;
  z-index: 10;
}

.testimonials .testimonials__item .testimonials__item-wrapper {
  padding: 2.3rem 1.8rem;
}

.testimonials .testimonials__item .testimonials__item-wrapper .testimonials__profile {
  padding-top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.testimonials .testimonials__item .testimonials__item-wrapper .testimonials__profile img {
  display: inline-block;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.testimonials .testimonials__item .testimonials__item-wrapper .testimonials__profile h3, .testimonials .testimonials__item .testimonials__item-wrapper .testimonials__profile p {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.signup {
  background: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10rem;
  position: relative;
}

.signup .signup__container {
  background: #1c2431;
  max-width: 33rem;
  margin: 0 auto;
  text-align: center;
  border-radius: .5rem;
  padding: 3rem;
  position: absolute;
  overflow: auto;
  z-index: 1;
  top: 0;
}

@media screen and (min-width: 768px) {
  .signup .signup__container {
    max-width: 80rem;
    padding: 3rem 5rem;
  }
}

.signup .signup__container h2, .signup .signup__container p {
  padding-bottom: 2.5rem;
}

.signup .signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (min-width: 768px) {
  .signup .signup__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.signup .signup__email {
  padding: 1.3rem 2rem;
  border-radius: 2.5rem;
  border: 1px solid white;
  outline: none;
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .signup .signup__email {
    max-width: 45rem;
    margin-bottom: 0;
  }
}

.signup .signup__btn {
  padding: 1.5rem 3rem;
  border-radius: 2.5rem;
  border: #65e2d9;
  background: -webkit-gradient(linear, right top, left bottom, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to bottom left, #339ecc, #65e2d9);
  color: white;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup .signup__btn:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.signup .signup__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer {
  background: #0b1523;
  padding-top: 35rem;
}

.footer .footer__container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .footer .footer__container {
    max-width: 144rem;
    -ms-grid-columns: 2fr 1.2fr .5fr .5fr .9fr;
        grid-template-columns: 2fr 1.2fr .5fr .5fr .9fr;
    -ms-grid-rows: .5fr 2fr;
        grid-template-rows: .5fr 2fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer .footer__container .footer__logo {
  max-width: 18rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .footer .footer__container .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.footer .footer__container .footer__location {
  max-width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .footer .footer__container .footer__location {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
}

.footer .footer__container .footer__location img {
  width: 1.2rem;
  vertical-align: middle;
}

.footer .footer__container .footer__location p {
  padding-left: 1.5rem;
}

.footer .footer__container .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .footer .footer__container .footer__contact {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.footer .footer__container .footer__contact img {
  width: 1.2rem;
}

.footer .footer__container .footer__contact span {
  padding-left: 1.5rem;
}

.footer .footer__container .footer__contact > div {
  padding-bottom: 1rem;
}

.footer .footer__container .footer__navlist {
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .footer .footer__container .footer__navlist {
    padding: 0;
  }
}

.footer .footer__container .footer__navlist li {
  padding-bottom: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer .footer__container .foot-nav1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer__container .foot-nav2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2 / 4 / 3 / 5;
  }
}

.footer .footer__container .footer__social {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .footer__container .footer__social {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 2 / 5 / 3 / 6;
  }
}

.footer .footer__container .footer__social .fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: .5rem;
  margin: 0 .5rem;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: #0b1523;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */