@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 10px / 16px = 62.5% => 1rem = 10px */
}

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.6;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

header {
  background: #1c2431;
  color: white;
  font-family: "Raleway", sans-serif;
}

header .nav {
  max-width: 144rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 3rem;
}

header .nav .nav__logo {
  max-width: 10rem;
}

header .nav .nav__list {
  max-width: 170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  background: #1c2431;
  color: white;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url(../img/bg-curvy-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 12rem 2rem;
    background-image: url(../img/bg-curvy-desktop.svg);
  }
}

.intro .intro__img {
  max-width: 75rem;
  width: 90%;
}

.intro .intro__text {
  max-width: 65rem;
  padding: 2rem 0;
}

.intro .intro__text h1 {
  font-size: 2.4rem;
  letter-spacing: .05em;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .intro .intro__text h1 {
    font-size: 2.8rem;
  }
}

.intro .intro__text p {
  font-size: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem 4rem 1rem;
}

.intro .intro__text .intro__btn {
  padding: 1.5rem 8rem;
  border-radius: 2.5rem;
  border: #65e2d9;
  background: -webkit-gradient(linear, right top, left bottom, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to bottom left, #339ecc, #65e2d9);
  color: white;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.intro .intro__text .intro__btn:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.intro .intro__text .intro__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.features {
  background: #181f2a;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features .features__container {
    max-width: 80rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
  }
}

.features .features__item {
  max-width: 36rem;
  padding: 5rem 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .features .features__item {
    padding: 5rem 0;
  }
}

.features .features__item .features__img {
  max-width: 8rem;
  max-height: 10rem;
  width: 100%;
  padding-bottom: 2rem;
}

.features .features__item img {
  width: auto;
  height: 100%;
}

.features .features__item h2 {
  padding-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */